<IfModule mod_deflate.c>

AddOutputFilterByType DEFLATE text/text text/html text/plain text/xml text/css application/x-javascript application/javascript text/javascript

</IfModule>

<IfModule mod_rewrite.c>

RewriteEngine On

RewriteBase /

RewriteCond %{HTTP_HOST} grahamblevins\.com
RewriteRule (page|post|search|tagged)/(.*) http://grahamblevins.tumblr.com/$1/$2 [R=301,L]

RewriteCond %{HTTP_HOST} ^(.+\.)?grahamblevins\.com [OR]
RewriteCond %{HTTP_HOST} ^.+\.grhm\.me
RewriteRule .* http://grhm.me [R=301,L]

</IfModule>
